$black: rgba(22, 19, 19, 0.4 );
$red: rgba(158, 66, 66, 0.4);
$orange: rgba(189, 116, 56, 0.4);
$border: solid 3px white;
$white: white;

%font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    text-align: center;
    color: $white;
    font-weight: 600;

    
}

@mixin box($background) {
    background: $background;
    width: 25%;
    height: auto;
    border:$border;
    min-width: 100px;
    min-height: 100px;
}

@mixin animation($animationstyle) {
    animation: $animationstyle;
    
}

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name}  {
        @content
    } }



